.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-comment {
    margin-top: -7px;
    z-index: -1;
    position: sticky;
    border-radius: 5px;
}

.content-hidde {
    height: 0px;
    border-radius: 5px;
    overflow: hidden;
    transition: height ease 0.9s;
    transform: translateY(-5px);
}

.content-show {
    height: 150px;
    transition: height ease 0.9s;
}