.tag {
    height: 25px;
    min-width: 115px;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 22px;
}

.tag-title {
    font-size: 14px
}

@media screen and (min-width: 500px) {
    .tag {
        border-radius: 10px;
    }
}