.logement-details {
    max-width: 1440px;
}

.image-avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.logement-dropdown-list {
    margin-top: 24px;
}

.logement-dropdown-item {
    width: 50%;
    max-width: 582px;
}
