.logement-details {
    max-width: 1440px;
}

.logement-place {
    margin-top: 5px;
}

.image-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.logement-dropdown-list {
    margin-top: 24px;
}

.logement-dropdown-item {
    width: 50%;
    max-width: 582px;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
    .image-avatar {
        height: 64px;
        width: 64px;
    }

    .logement-dropdown-item {
        margin-bottom: 0px;
    }
}
