.a-propos {
    display: flex;
    justify-content: center;
}

.a-propos-list {
    max-width: 1023px;
}

.a-propos-item {
    margin-bottom: 31px;
}

/* @media screen and (min-width: 700px){
    .dropdown-title {
        height: 47px;
        font-size: 24px;
    }
} */