#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    padding-bottom: 25px;
    width: auto;
    max-width: 1440px;
    justify-content: center;
    gap: 20px;
}

.home-logement-item {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .home-logements-list {
        background: #F7F7F7;
        padding: 50px;
        padding-top: 56px;
        padding-bottom: 56px;
        row-gap: 70px;
        column-gap: 60px;
        margin-bottom: 63px;
    }

    .home-logement-item {
        /* width: auto; */
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .home-logements-list {
        background: #F7F7F7;
        padding: 50px;
        padding-top: 56px;
        padding-bottom: 56px;
        row-gap: 70px;
        column-gap: 60px;
        margin-bottom: 63px;
    }

    .home-logement-item {
        width: auto;
        margin-bottom: 0;
    }
}