.dropdown-title {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    height: 29.93px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.dropdown-arrow {
    height: 8.96px;
    width: 15.2px;
}

.dropdown-arrow-up {
    transform: rotate(180deg);
}

@media screen and (min-width: 700px) {
    .dropdown-title {
        height: 47px;
        font-size: 18px;
        font-weight: 500;
    }

    .dropdown-arrow {
        height: 15.56px;
        width: 26.4px;
    }
}
