header {
    padding-left: 100px;
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

#header-nav {
    width: auto;
}
/* li {
    text-decoration: none;
    font-size: 24px;
} */

.nav-link {
    /* text-decoration: none; */
    font-size: 24px;
    color: #FF6060;
    width: 136px;
    height: 34px;
    display: flex;

}

/* #apropos .nav-link {
    text-decoration: none;
} */

#logo {
    width: auto;
    height: 68px;
}

.nav-list {
    list-style-type: none;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: auto;
}