.carousel {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-index {
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 6%;
    font-weight: 500;
    display: none;
}

.carousel-img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: 11.67px;
    height: 19.8px;
}

.prev {
    left: 22px;
    transform: rotate(180deg);
}

.next {
    right:22px;
}

@media screen and (min-width: 700px) {
    .carousel-img {
        height: 415px;
        border-radius: 25px;
    }

    .prev,
    .next {
        width: 46.68px;
        height: 79.2px;
    }

    .carousel-index {
        display: block;
    }

}
