.carousel {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-index {
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 6%;
    font-weight: 500;
}

.carousel-img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: 46.68px;
    height: 79.2px;
}

.prev {
    left: 15px;
    transform: rotate(180deg);
}

.next {
    right: 15px;
}
