* {
  box-sizing: border-box;
  width: auto;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-width: auto;
}

/* #root {
  display: flex;
  justify-content: center;
} */

h2 {
  font-size: 36px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.main-container {
  padding-left: 20px;
    padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-main {
  color: #FF6060;
}

.font-white {
  color: white;
}

.background-main {
  background: #FF6060;
}

.weight500 {
  font-weight: 500;
}

.w-auto {
  width: auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}


@media screen and (min-width: 500px) {
  .main-container {
    padding-left: 100px;
      padding-right: 100px;
  }
}