* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-width: auto;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.color-main {
  color: #FF6060;
}

.color-white {
  color: white;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.background-main {
  background: #FF6060;
}

.weight500 {
  font-weight: 500;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.gap-10 {
  gap: 10px;
}


@media screen and (min-width: 700px) {
  
  h2 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  .main-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  

}