.banner {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    /* width: auto; */
}

.banner-picture {
    height: 223px;
    min-width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 25px;
}

.banner-title {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    width: auto;
}